<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLink='/home'>Inicio</a>
          </li>
        </ul>
      </div>
      <div class="d-flex" *ngIf="_userService.getIdentity() == null ;else logedOut ">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLink='/register' routerLinkActive='active'>Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink='/login' routerLinkActive='active'>Login</a>
        </li>
       </ul>
      </div>
      <ng-template #logedOut>
        <ul class="navbar-nav">
          <li class="nav-item dropdown" *ngIf="_userService.getIdentity().rol === 'CLIENTE'">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{_userService.getIdentity().user}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modelEditarNav" (click)="getUserId(_userService.getIdentity()._id)" >Editar Cuenta</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalDelete">Eliminar Cuenta</a></li>
              <li><a class="dropdown-item" routerLink="/myreservations">Ver mis reservaciones</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="_userService.getIdentity().rol === 'ADMIN' ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{_userService.getIdentity().user}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modelEditarNav" (click)="getUserId(_userService.getIdentity()._id)" >Editar Cuenta</a></li>

              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalDelete">Eliminar Cuenta</a></li>
              <li><a class="dropdown-item" routerLink='/users'>Ver Usuarios</a></li>
              <li><a class="dropdown-item" routerLink='/usersAdmin'>Ver Hoteles</a></li>
              <li><a class="dropdown-item" routerLink='/hotels'>Agregar Hotel</a></li>
              <li><a class="dropdown-item" routerLink='/room'>Agregar Habitacion</a></li>
              <li><a class="dropdown-item" routerLink='/events'>Agregar Evento</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addService" >Agregar Servicio</a></li>

            </ul>
          </li>

          <li class="nav-item dropdown" *ngIf="_userService.getIdentity().rol === 'ADMINHOTEL' ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{_userService.getIdentity().user}}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modelEditarNav" (click)="getUserId(_userService.getIdentity()._id)" >Editar Cuenta</a></li>

              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalDelete">Eliminar Cuenta</a></li>

              <li><a class="dropdown-item" routerLink="/reservations" >Ver Reservaciones</a></li>

            </ul>
          </li>

       </ul>
       <button type="button" class="btn btn-primary btn-sm" (click)="singOff()">Cerrar Sesion</button>
      </ng-template>
    </div>
  </nav>
  <div class="list-group">
    <a  class="list-group-item list-group-item-action list-group-item-danger" href="https://www.mspas.gob.gt/" target="_blank"><i class="bi bi-exclamation-circle"></i> COVID-19 – estamos para ayudarte</a>
  </div>

  <!-- Modal Editar Usuario -->
  <div class="modal fade" id="modelEditarNav" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Editar Usuario</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" name="email" #email="ngModel" [(ngModel)]="userIdModel.email">
            </div>
            <div class="mb-3">
              <label for="inputUsuario" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="inputUsuario" name="username" #username="ngModel" [(ngModel)]="userIdModel.user">
            </div>
            <div class="mb-3">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="inputNombre" name="nombre" #nombre = "ngModel" [(ngModel)]="userIdModel.name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="editUser()" data-bs-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Eliminar -->
<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Esta seguro de querer eliminar su cuenta?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger " (click)="deleteUser(_userService.getIdentity()._id)" data-bs-dismiss="modal" >ELIMINAR</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Servicio -->
<div class="modal fade" id="addService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-center" id="exampleModalLabel">Agregar Servicio</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Nombre del Servicio</label>
            <input type="text" class="form-control" id="inputName" name="nameService" #nameService = "ngModel" [(ngModel)]="modelAddService.nameService">
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="Descripcion" name="descriptionService" #descriptionService = "ngModel" [(ngModel)]="modelAddService.descriptionService">
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Precio</label>
            <input type="text" class="form-control" id="Precio" name="price" #price="ngModel" [(ngModel)]="modelAddService.price">
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Icono</label>
            <input type="text" class="form-control" id="icon" name="icon" #icon="ngModel" [(ngModel)]="modelAddService.icon">
          </div>
          <div class="mb-3">
            <label for="inputEmail" class="form-label">ID Hotel</label>
            <input type="text" class="form-control" id="idHotel" name="hotelId" #hotelId="ngModel" [(ngModel)]="modelAddService.hotelId">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addService()">Guardar</button>
      </div>
    </div>
  </div>
</div>






