<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">ID User Hotel</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let hotel of hotelsList'>
        <th scope="row">{{hotel._id}}</th>
        <td>{{hotel.name}}</td>
        <td>{{hotel.address}}</td>
        <td>{{hotel.email}}</td>
        <td>{{hotel.phone}}</td>
        <td>{{hotel.adminUserHotel.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
